.footer_anchor:hover {
    color: #11b997 !important;
}

.footer_anchor:focus-visible {
    outline: 1px solid #26fcd1;
}

.info_anchor:hover {
    color: #11b997 !important;
}

.info_anchor:focus-visible {
    outline: 1px solid #26fcd1;
}

a:hover {
    color: #26fcd1;
}

a:focus-visible {
    outline: 1px solid #26fcd1;
}

.generator:focus-visible,
.generator:hover {
    box-shadow: 0px 2.5px 2.5px #2b8170 !important;
}

.generator:focus::after,
.generator:hover::after {
    transform: scaleX(1) !important;
    transform-origin: left !important;
}